.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #03142d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 55px;
}

.mailInputContainer > input {
  width: 250px;
  height: 25px;
  padding: 12px;
  border: none;
  margin-right: 8px;
  border-radius: 8px;
}

.mailInputContainer > button {
  height: 50px;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* ########## MEDIA QUERIES (PHONE) ########## */
@media screen and (max-width: 900px) {
  .mail {
    width: 80%;
  }
}
