.footer {
  width: 100%;

  font-size: 11px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 15px;
  color: #0f02629c;
  cursor: pointer;
}
/* ########## MEDIA QUERIES (PHONE) ########## */
@media screen and (max-width: 900px) {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 480px) {
}
