.navbar {
  height: 50px;
  background-color: #021025d8;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 3px 6px;
  cursor: pointer;
  color: #010e21;
}
.options {
  display: flex;
  font-size: 15px;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
}

.optionss {
  font-size: 15px;
  position: initial;
  margin-left: 350px;
  margin-top: -05px;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .optionss {
    margin-left: 50px;
  }
}
